node_modules/

npm-debug.log
package-lock.json

dist/

*.bak
*.tmp
*.swp

.env.local
.env.*.local

.vscode-server-insiders/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs/
*.log
npm-debug.log*

*.~
*.bak
*.backup
*.sav


services/*/.dotnet/*
services/*/.vscode-server-insiders/*

.bash_history
